<header>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a>
    <div>
        <nav>
            <ul>
                <li><a><img src=""></a></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <p>СоцСети</p>
    <ul>
        <li><a href="#">Vk</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Inst</a></li>
    </ul>
</footer>